@import "~bulma/bulma";

body {
  background-color: #eee;
}
.navbar-burger {
  margin-left: 0;
  margin-right: auto;
}
.navbar-end {
  margin-left: 0;
  margin-right: auto;
}
.navbar-start {
  margin-right: 0;
  margin-left: auto;
}
